<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Generates a targetdef out of the content of the selected target file"
            id="de.abg.jreichert.repositorytarget.transform"
            name="Transform to targetdef">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="de.abg.jreichert.repositorytarget.transform"
               label="Generate targetdef"
               style="push"
               tooltip="Generates a targetdef file out of the content of the selected target file">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.abg.jreichert.repositorytarget.transform.definition">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.abg.jreichert.repositorytarget.transform.definition">
		 <iterate ifEmpty="false">
			<adapt type="org.eclipse.core.resources.IResource">
				<test property="org.eclipse.core.resources.extension" value="target" />
			</adapt>
         </iterate>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.abg.jreichert.repositorytarget.transform.popup.actions.TargetDefGenerator"
            commandId="de.abg.jreichert.repositorytarget.transform">
      </handler>
   </extension>
</plugin>
